In [4]:
import json
import pandas as pd

In [5]:
with open("agent_metadata.json", "r") as read_file:
    poland_data = json.load(read_file)

print(type(poland_data))

<class 'dict'>

In [4]:
print(poland_data.keys())

dict_keys(['twin_id', 'floor_id', 'emergency_on', 'spindle_on', 'coolant_on', 'cycle_on', 'axis_pos_x', 'axis_pos_y', 'axis_pos_z', 'feed_x', 'feed_y', 'feed_z', 'spindle_speed', 'job_file_name', 'maxtravel_X', 'maxtravel_Y', 'maxtravel_Z', 'wcsoffset_X', 'wcsoffset_Y', 'wcsoffset_Z', 'tool_aas', 'spindle_aas', 'coolant_aas', 'programfile_link', 'otherdetails_link'])

In [7]:
df = pd.DataFrame(poland_data, index=[0])
print(df.shape)
df.head()

(1, 25)

,twin_id,floor_id,emergency_on,spindle_on,coolant_on,cycle_on,axis_pos_x,axis_pos_y,axis_pos_z,feed_x,...,maxtravel_Y,maxtravel_Z,wcsoffset_X,wcsoffset_Y,wcsoffset_Z,tool_aas,spindle_aas,coolant_aas,programfile_link,otherdetails_link
0,1001,10,0,0,1,0,0.0,0.0,0.0,200.0,...,20,20,100,80,10,https://raw.githubusercontent.com/muditkumarsa...,https://raw.githubusercontent.com/muditkumarsa...,https://raw.githubusercontent.com/muditkumarsa...,https://www.google.com/,https://www.google.com/

In [8]:
df.to_csv('my_data.csv', index=False)

In [18]:
d={
    "a":1,
    "b":2
}

In [19]:
import pandas as pd

In [21]:
df1=pd.DataFrame(d, ignore_index=True)
df1

TypeError: __init__() got an unexpected keyword argument 'ignore_index'

In [16]:
d1={
    "a":5,
    "b":6
}

In [17]:
df1=df1.append(d1,ignore_index=True)
df1

     a    b
0    1    2
1  [5]  [6]
2    5    6